<%= form_for(@sesion, :html => { :multipart => true }) do |f| %>
  <% if @sesion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sesion.errors.count, "error") %> prohibited this sesion from being saved:</h2>

      <ul>
      <% @sesion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <center><%= f.text_area :body, :class => "mceEditor","cols" => 100, "rows" => 40 %></center>
  </div>
  <div class="field">
    <%= f.label :datasesion %><br />
    <%= f.date_select :datasesion %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :portada %><br />
    <%= f.check_box :portada %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
