<% form_for @user do |f| -%>

<div class="field">
  <%= f.label :nombre, "Nombre" %><br />
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :password, "Contraseña" %><br />
  <%= f.text_field :password %>
</div>

<div class="field">
  <%= f.label :password_confirmation, "Confirmar contraseña" %><br />
  <%= f.text_field :password_confirmation %>
</div>
<div class="actions">
  <%= f.submit "Registrarse" %>
</div>
<% end -%>
