<!DOCTYPE html>
<html>
<head>
  <title>Cinefòrum.CAT</title>

<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
<%= stylesheet_link_tag 'application', 'scrollable', 'scaffold', 'web_app_theme'%>
  <%= csrf_meta_tag %>

<%= javascript_include_tag "http://cdn.jquerytools.org/1.2.5/full/jquery.tools.min.js" %>

<%= javascript_include_tag "jquery-rails" %>
  <%= include_tiny_mce_if_needed %>
</head>
<body>
<div id=contenedortotal>
<div id=contenedorweb>
<div id=cap>
<div id=headermiddle>
<center><%= link_to image_tag("cineforum4.jpg", :style => "align:middle;"), portadas_path %></center>
</div>
<div id=headerbottom></div>
<%= render "shared/topbar" %>
</div>
<div id=headerbottom></div>
<div id=cuerpogeneral>
<%= yield %>
</div>
</div>
</div>
<%= render :partial => 'shared/analytics' %>
</body>
</html>
